{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/no-default-export": "off",
    "prettier/prettier": "error",
    "react/no-array-index-key": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "settings": {
    "import/extensions": [".js", ".jsx"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "moduleDirectory": ["node_modules", "src"],
        "root": ["./src"],
        "alias": {
          "@layouts": "./src/layouts",
          "@pages": "./src/pages",
          "@templates": "./src/templates",
          "@services": "./src/services",
          "@components": "./src/components"
        }
      }
    }
  }
}
